<!DOCTYPE html>
<html>
    <body>
        <h2>Select Years</h2>
        <form action="/songsearch" method = "POST">
            <label for="minyear">From year:</label><br>
            <input type="number" id="minyearId" name="minyear" value="1988">
            <br>
            <label for="maxyear">From year:</label><br>
            <input type="number" id="maxyearId" name="maxyear" value="2021"><br>
            <br>
            <input type="submit" value="Search">
        </form>
        <br>

    {{if .}}
    <ul>
    {{range .}}
        <li>Id: {{.Id}}</li>
        <li>Name: {{.Name}}</li>
        <li>Artist: {{.Artist}} </li>
        <li>Album: {{.Album}}</li>
        <li>Genre: {{.Genre}}</li>
        <li>Year of release: {{.year}}</li>
    {{end}}
    </ul>
    {{end}}
    </body>
</html>